[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rename-app = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
gunicorn = "*"
build = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
